<script type="text/javascript">
    $(document).ready(function(){
        $('input[name$="created_at"]').val($('#created_at').val())
    });
    

    let apend_row = function (event){

        let created_at = $('#created_at').val();
        let tbody = $('.table>tbody');
        let trs = tbody.find('tr');
        count_rows =trs.length;
        let str_tr = '<tr><input type="hidden" name="{{dom_element}}-0-id" value="" id="id_{{dom_element}}-0-id">\
                          <input type="hidden" name="{{dom_element}}-0-created_at" id="id_{{dom_element}}-0-created_at" value="%created_at%">'
                        .replace(/{{dom_element}}-\d+-/g,'{{dom_element}}-'+count_rows+'-')
                        .replace(/%created_at%/g,created_at)
        let tds =tbody.find('tr:last-child td');
        console.log(tds)
        $.each( tds, function(index, item){
            curent_html = $(item).html()
            curent_html = curent_html.replace(/{{dom_element}}-\d+-/g,'{{dom_element}}-'+count_rows+'-')
                                     .replace(/selected/g,'')
                                     .replace(/(input type="text".*value=")([\d\/]+)"/g,'$1"');
            str_tr += '<td>' + curent_html + '</td>';
        });
        str_tr +='</tr>'; 
        tbody.append(str_tr);   
        $('#id_{{dom_element}}-TOTAL_FORMS').val(count_rows +1);
        
        trs = tbody.find('tr');
        $.each(trs, function(index, item){
            td = $(item).find('td');
            $(td[0]).html(index+1);
        });

        $("#table-scroll").scrollTop($("#table-scroll").prop('scrollHeight'));
        $('table>tbody>tr:last-child td:nth-child({{focus_column}}) select').first().focus();
    };

    $('table').on('click','#del_row', function(){

        $(this).parents('tr').css('display','none').attr('hidden','true');
        $(this).parents('td').find('input[type="checkbox"]').attr('checked', true);
        $('#id_items-TOTAL_FORMS').val($('#id_items-TOTAL_FORMS').val()-1);
        $('#id_form-TOTAL_FORMS').val($('#id_form-TOTAL_FORMS').val()-1);
        
        let tbody = $('table>tbody');
        let tds =tbody.find('tr:not([hidden])');
        $.each(tds, function(index, item){
            td = $(item).find('td');
            $(td[0]).html(index+1);
        });
        event.preventDefault();
    });
    var down = {};
    $(window).keydown(function(e) {
                        down[e.keyCode] = true;
             })
            .keyup(function(event){
                    if (down[45] && Object.keys(down).length == 1){
                        apend_row(event)
                    }             
                down = {}
            });

    $('#add_row').on('click', apend_row)

    $('table').on('change','select',function(){        
        let id = $(this).find('option:selected').val();
        let created_at = $('#created_at').val();
        let this_ = this
        $.post( "/json/yield_dish/"+id+"/{{csrf_token}}", function( data ) {
            $(this_).parents('td').next().find('input').val(data.out);
        });
        $.post( "/json/product/price/"+id+"/"+created_at+"/{{csrf_token}}", function( data ) {
            $(this_).parents('td').next().next().next().find('input').val(data.price);
        });        
    })
    
    $("form").validate({
        errorClass:'is-invalid',
        errorElement:'div',
        ignore:'tr:last-child select, tr:last-child input, tr[hidden="hidden"] select',
        errorPlacement: function(error, element) {
            $(element).attr('placeholder',$(element).attr('data-msg'));
        }           
        });

</script>