{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block style %}
    {% include 'style.html' %}
{% endblock style %}

{% block script %}
    {% include 'script.html' %}
{% endblock script %}


{% block crumb %}
  <ul id="ul-breadcrumb" class="breadcrumb">
    <li id="li-1" class="breadcrumb-item"><a href="{{parent_href}}">{{parent_title}}</a></li>
    <li id="li-2" class="breadcrumb-item active">{{title}}</li>
  </ul>
{% endblock crumb %}
{% block content %}    
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                  <div class="card-header d-flex align-items-center">
                  <h4>{{title}}</h4>
                </div>
                <div class="card-body">
                    {% block action_buttons %}
                        <a class="btn btn-success append-item" href="{%url 'dish-new' %}"> <i class="fa fa-plus" aria-hidden="true"></i></a>
                    {% endblock action_buttons %}
                    <div class="line"></div>
                    <table id="table_data" class="table_data table table-striped table-hover">
                        <thead>
                            <th style="width:20%">Наименование</th>
                            <th style="width:5%">Ед. изм.</th>
                            <th style="width:7%">Выход порции</th>
                            <th>технологическая карта</th>
                        </thead>
                        <tbody>
                            {% for item in object_list%}
                                <tr>
                                    <td>
                                        <a href="{% url 'dish-update' item.id %}">{{item.name}}</a>
                                    </td>
                                    <td>{{item.unit|default:""}}</td>
                                    <td>{{item.out|default:""}}</td>
                                    <td>{{item.tech_map|default:""}}</td>
                                </tr>
                            {% endfor %}                    
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}