{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block style %}
    {% include 'style.html' %}
{% endblock style %}

{% block script %}
    {% include 'script.html' %}
{% endblock script %}


{% block crumb %}
    <ul id="ul-breadcrumb" class="breadcrumb">
        <li id="li-1" class="breadcrumb-item"><a href="{{ parent_href }}">{{ parent_title }}</a></li>
        <li id="li-2" class="breadcrumb-item active">{{ title }}</li>
    </ul>
{% endblock crumb %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                    <h4>{{ title }}</h4>
                </div>
                <div class="card-body">
                    {% block action_buttons %}
                        <a class="btn btn-success append-item" onclick="modal_form_show(null,'Создать','create')"> <i class="fa fa-plus"
                                                                                                                      aria-hidden="true"></i></a>
                    {% endblock action_buttons %}
                    <div class="line"></div>
                    <table id="example" class="display table table-sm" style="width:100%">
                        <tfoot>
                        <tr>
                            <th>Наименование</th>
                            <th>Источник</th>
                            <th style="width: 12%;">Выход порции</th>
                            <th>Ед. изм</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/tech_map_list.js' %}"></script>
{% endblock content %}