{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block style %}
    {% include 'style.html' %}
{% endblock style %}

{% block script %}
    {% include 'script.html' %}
{% endblock script %}


{% block crumb %}
  <ul id="ul-breadcrumb" class="breadcrumb">
    <li id="li-1" class="breadcrumb-item"><a href="{{parent_href}}">{{parent_title}}</a></li>
    <li id="li-2" class="breadcrumb-item active">{{title}}</li>
  </ul>
{% endblock crumb %}
{% block content %}    
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header d-flex align-items-center">
                  <h4>{{title}}</h4>
                </div>
                <div class="card-body">
                    {% block action_buttons %}
                        <a class="btn btn-success append-item" href="{%url 'product-new' %}"> <i class="fa fa-plus" aria-hidden="true"></i></a>
                    {% endblock action_buttons %}
                    <div class="line"></div>
                    <table id="table_data" class="table_data table table-striped table-hover">
                            <thead>
                                <th style="width: 8%">№п/п</th>
                                <th style="width:66%">Наименование</th>
                                <th style="width:13%">Ед. изм</th>
                                <th style="width:13%">Продукт</th>
                                <th>Вес, кг.</th>
                            </thead>
                    </table>
                    <div id="table-scroll" class="table-scroll">
                        <table class="table table-striped table-sm">                           
                            <tbody>
                                {% for item in object_list%}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td><a href="{% url 'product-update' pk=item.id%}">{{item.name}}</a></td>
                                        <td>{{item.unit|default:""}}</td>
                                        <td>{{item.dish|default:""}}</td>
                                        <td>{{item.weight|default:""}}</td>
                                    </tr>
                                {% endfor %}                    
                            </tbody>
                        </table>
                    </div>
                    {# .... **Now the pagination section** .... #}
                    {% if is_paginated %}
                        <div class="pagination">
                            <span class="page-links">
                                {% if page_obj.has_previous %}
                                    <a href="/cars?page={{ page_obj.previous_page_number }}">previous</a>
                                {% endif %}
                                <span class="page-current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>
                                {% if page_obj.has_next %}
                                    <a href="/cars?page={{ page_obj.next_page_number }}">next</a>
                                {% endif %}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}