{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block style %}
    {% include 'style.html' %}
{% endblock style %}

{% block script %}
    {% include 'script.html' %}
{% endblock script %}


{% block crumb %}
  <ul id="ul-breadcrumb" class="breadcrumb">
    <li id="li-1" class="breadcrumb-item"><a href="{% url 'main_calculation' %}">Главная</a></li>
    <li id="li-2" class="breadcrumb-item"><a href="{{parent_href}}">{{parent_title}}</a></li>
    <li id="li-3" class="breadcrumb-item active">{{action}}</li>
  </ul>
{% endblock crumb %}
{% block content %}  
   {% load l10n %}
    <form action="" method="POST">        
        {% csrf_token %}
        {{ formset.management_form }}
        <input type="hidden" name="action" value="{{action}}">
        <div class="card">
            <div class="card-header">
                <div class="form-group row">
                    <h4 class="mr-3">Дата меню</h4>
                    <input id="created_at" name="created_at" type="date" placeholder="дата меню" class="col-lg-2 form-control" style="top:-16px;" value="{{created_at|date:'Y-m-d'}}" {% if action != 'create' %} readonly{%endif%}>
                </div>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-lg-4">
                        <input id="add_row" type="button" value="Добавить блюдо" class="btn btn-primary mr-3">
                    </div>
                    <div class="col-lg-8">
                        {% include 'includes/list_messages.html' %}
                    </div>
                </div>  
                <div id="table-scroll" class="table-scroll">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th></th>
                                <th>Блюдо</th>
                                <th>Выход</th>
                                <th>Удалить?</th>
                                <!--<th></th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for form in formset%}
                                <tr>
                                    {{form.id}}
                                    {{form.created_at}}
                                    <td>{{forloop.counter}}</td>
                                    <td>{{form.food_intake}}</td>
                                    <td>{{form.dish}}</td>
                                    <td>{{form.out}}</td>
                                    <td>{{form.DELETE}}</td>
 <!--                                   <td>{% if not forloop.last %}<a id="del_row" type="button" class="btn btn-success append-item"><i class="fa fa-minus" aria-hidden="true"></i></a>{% endif %}</td> -->
                                </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
                <div class="line"></div>
                <div class="form-group row">
                    <div class="col-lg-12">
                        <a href="/menu/{{created_at|date:'Y-m-d'}}/delete/" class="btn btn-secondary mr-3">Удалить все меню</a>
                        <input type="submit" value="Сохранить" class="btn btn-primary mr-3" name="_save">
                        <a href="/menu/{{created_at|date:'Y-m-d'}}/copytotomorrow/" class="btn btn-secondary mr-3">Скопировать на завтра</a>
                        <a href="/menu/{{created_at|date:'Y-m-d'}}/copytomonth/" class="btn btn-secondary mr-3">Скопировать до конца месяца</a>
                    </div>
                </div>              
            </div>
        </div>
    </form>
    {% include 'includes/js_action_for_elements.html' with dom_element="forms" focus_column="4"%}
{% endblock content %}